{% extends "base.html" %}

{% block title %}
Панель просмотра услуг
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css/applications.css">
{% endblock %}

{% block content %}
<main>
    <h1>{{ title_h1 }}</h1>

    {% if access %}
    <table id="masters-table">
        <thead>
        <tr>
            <th>Мастер</th>
        </tr>
        </thead>
        <tbody>
        {% for master in masters %}
        <tr>
            <td>{{ master.master_name }}</td>
            <td>
                <button class="delete-btn" onclick='deleteMaster({{ master.master_id }})'>Удалить</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn_add_master" >Добавить</button>
    {% else %}
    <p>{{ message }}</p>
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
<script src="/static/js/masters.js"></script>
{% endblock %}